
 body {
    overflow-x: hidden;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-right: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 80%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgb(226, 233, 164);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
  }
  

  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-right: 400px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 600px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }